.container {
	font-family: 'Red Hat Mono', monospace;
	color: #191919;
}

.navigation {
	text-align: center;
	margin-top: 24px;
}

.intro-container{
	margin-top: 96px;
	margin-bottom: 96px;
}

.project-container{
	display: flex;
	flex-wrap: wrap;
	padding: 0 4px;
}

.column-gallery {
    flex: 50%;
    max-width: 50%;
  }

.column-gallery img {
  vertical-align: middle;
  width: 100%;
}

@media screen and (max-width: 600px) {
  .column-gallery {
    flex: 100%;
    max-width: 100%;
  }
}